$font-sans: "Open Sans", -apple-system, BlinkMacSystemFont, avenir next,
  avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
  arial, sans-serif;
$font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
  monospace;
$dark-red: #bb3e45;
$red: #d14c3d;
$orange: #c35f2c;
$yellow: #020101;
$bright-yellow: #e6c147;
$black: #140a05;
$white: #fefefb;
$code-bg: #1b1918;
