@use "sass:color";

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
  font-display: swap;
}

$font-sans: "Open Sans", -apple-system, BlinkMacSystemFont, avenir next,
  avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
  arial, sans-serif;
$font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
  monospace;
$dark-red: #bb3e45;
$red: #d14c3d;
$orange: #c35f2c;
$yellow: #020101;
$bright-yellow: #e6c147;
$black: #140a05;
$white: #fefefb;
$code-bg: #1b1918;

:root {
  --dark-red: #bb3e45;
  --red: #d14c3d;
  --orange: #c35f2c;
  --yellow: #dd9c3c;
  --bright-yellow: #e6c147;
  --black: #140a05;
  --white: #fefefb;
}

html {
  font-family: $font-sans;

  background-color: $black;
  color: $white;
}

a {
  background-color: transparent;
  color: $white;
  text-decoration: none;
  border-bottom: 3px solid $bright-yellow;
}

main,
footer {
  margin: auto;
  padding: 1.5rem;
  max-width: 70vw;
}

@media (max-width: 700px) {
  main {
    margin: 0;
    max-width: 100vw;
  }
}

article {
  color-scheme: dark;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  line-height: 1.5;
  word-wrap: break-word;
}

article details,
article figcaption,
article figure {
  display: block;
}

article summary {
  display: list-item;
}

article [hidden] {
  display: none !important;
}

article abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

article b,
article strong {
  font-weight: 600;
}

article dfn {
  font-style: italic;
}

article h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid $white;
}

article mark {
  background-color: rgba($bright-yellow, 0.5);
  color: #c9d1d9;
}

article small {
  font-size: 90%;
}

article sub,
article sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

article sub {
  bottom: -0.25em;
}

article sup {
  top: -0.5em;
}

article img {
  border-style: none;
  max-width: 35%;
  box-sizing: content-box;
  background-color: $black;
}

article code,
article kbd,
article pre,
article samp {
  font-family: monospace;
  font-size: 1em;
}

article figure {
  margin: 1em 40px;
}

article hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid darken(grayscale($white), 10%);
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: darken(grayscale($white), 10%);
  border: 0;
}

article input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

article [type=button],
article [type=reset],
article [type=submit] {
  appearance: button;
  -webkit-appearance: button;
}

article [type=checkbox],
article [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

article [type=number]::-webkit-inner-spin-button,
article [type=number]::-webkit-outer-spin-button {
  height: auto;
}

article [type=search]::-webkit-search-cancel-button,
article [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

article ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

article ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

article ::placeholder {
  color: #6e7681;
  opacity: 1;
}

article hr::before {
  display: table;
  content: "";
}

article hr::after {
  display: table;
  clear: both;
  content: "";
}

article table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

article td,
article th {
  padding: 0;
}

article details summary {
  cursor: pointer;
}

article details:not([open])>*:not(summary) {
  display: none !important;
}

article a:focus,
article [role=button]:focus,
article input[type=radio]:focus,
article input[type=checkbox]:focus {
  outline: 2px solid #58a6ff;
  outline-offset: -2px;
  box-shadow: none;
}

article a:focus:not(:focus-visible),
article [role=button]:focus:not(:focus-visible),
article input[type=radio]:focus:not(:focus-visible),
article input[type=checkbox]:focus:not(:focus-visible) {
  outline: solid 1px transparent;
}

article a:focus-visible,
article [role=button]:focus-visible,
article input[type=radio]:focus-visible,
article input[type=checkbox]:focus-visible {
  outline: 2px solid #58a6ff;
  outline-offset: -2px;
  box-shadow: none;
}

article a:not([class]):focus,
article a:not([class]):focus-visible,
article input[type=radio]:focus,
article input[type=radio]:focus-visible,
article input[type=checkbox]:focus,
article input[type=checkbox]:focus-visible {
  outline-offset: 0;
}

article kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 80% $font-mono;
  line-height: 10px;
  color: #c9d1d9;
  vertical-align: middle;
  background-color: $code-bg;
  border: solid 1px grayscale(darken($white, 60%));
  border-bottom-color: grayscale(darken($white, 60%));
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 grayscale(darken($white, 60%));
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

article h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid grayscale(darken($white, 25%));
}

article h3 {
  font-weight: 600;
  font-size: 1.25em;
}

article h4 {
  font-weight: 600;
  font-size: 1em;
}

article h5 {
  font-weight: 600;
  font-size: .875em;
}

article h6 {
  font-weight: 600;
  font-size: .85em;
  color: grayscale(darken($white, 30%));
}

article p {
  margin-top: 0;
  margin-bottom: 10px;
}

article blockquote {
  margin: 0;
  padding: 0 1em;
  color: grayscale(darken($white, 30%));
  border-left: .25em solid grayscale(lighten($code-bg, 5%));
}

article ul,
article ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

article ol ol,
article ul ol {
  list-style-type: lower-roman;
}

article ul ul ol,
article ul ol ol,
article ol ul ol,
article ol ol ol {
  list-style-type: lower-alpha;
}

article dd {
  margin-left: 0;
}

article tt,
article code,
article samp {
  font-family: $font-mono;
  font-size: 85%;
}

article pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $font-mono;
  font-size: 85%;
  word-wrap: normal;
  padding: 0.75rem;
}

article input::-webkit-outer-spin-button,
article input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

article a:not([href]) {
  color: inherit;
  text-decoration: none;
}

article p,
article blockquote,
article ul,
article ol,
article dl,
article table,
article pre,
article details {
  margin-top: 0;
  margin-bottom: 16px;
}

article blockquote>:first-child {
  margin-top: 0;
}

article blockquote>:last-child {
  margin-bottom: 0;
}

article h1 tt,
article h1 code,
article h2 tt,
article h2 code,
article h3 tt,
article h3 code,
article h4 tt,
article h4 code,
article h5 tt,
article h5 code,
article h6 tt,
article h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

article summary h1,
article summary h2,
article summary h3,
article summary h4,
article summary h5,
article summary h6 {
  display: inline-block;
}

article summary h1,
article summary h2 {
  padding-bottom: 0;
  border-bottom: 0;
}

article ol[type=a] {
  list-style-type: lower-alpha;
}

article ol[type=A] {
  list-style-type: upper-alpha;
}

article ol[type=i] {
  list-style-type: lower-roman;
}

article ol[type=I] {
  list-style-type: upper-roman;
}

article ol[type="1"] {
  list-style-type: decimal;
}

article div>ol:not([type]) {
  list-style-type: decimal;
}

article ul ul,
article ul ol,
article ol ol,
article ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

article li>p {
  margin-top: 16px;
}

article li+li {
  margin-top: .25em;
}

article dl {
  padding: 0;
}

article dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

article dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

article table th {
  font-weight: 600;
}

article table th,
article table td {
  padding: 6px 13px;
  border: 1px solid grayscale(darken($white, 60%));
}

article table tr {
  background-color: $code-bg;
}

article table tr:nth-child(2n) {
  background-color: lighten($code-bg, 5%);
}

article table img {
  background-color: transparent;
}

article code,
article tt {
  font-family: $font-mono;
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: $code-bg;
  border-radius: 6px;
}

article code br,
article tt br {
  display: none;
}

article del code {
  text-decoration: inherit;
}

article samp {
  font-size: 85%;
}

article pre code {
  font-size: 100%;
}

article pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

article pre code,
article pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

article [data-footnote-ref]::before {
  content: "[";
}

article [data-footnote-ref]::after {
  content: "]";
}

article .footnotes {
  font-size: 12px;
  color: grayscale(darken($white, 15%));
  border-top: 1px solid $white;
}

article .footnotes ol {
  padding-left: 16px;
}

article .footnotes ol ul {
  display: inline-block;
  padding-left: 16px;
  margin-top: 16px;
}

article .footnotes li {
  position: relative;
}

article .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid $bright-yellow;
  border-radius: 6px;
}

article .footnotes li:target {
  color: $white;
}

article .footnotes .data-footnote-backref g-emoji {
  font-family: $font-mono;
}

article .task-list-item {
  list-style-type: none;
}

article .task-list-item label {
  font-weight: 400;
}

article .task-list-item.enabled label {
  cursor: pointer;
}

article .task-list-item+.task-list-item {
  margin-top: 4px;
}

article .task-list-item .handle {
  display: none;
}

article .task-list-item-checkbox {
  margin: 0 .2em .25em -1.4em;
  vertical-align: middle;
}

article .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

article .contains-task-list {
  position: relative;
}

article .contains-task-list:hover .task-list-item-convert-container,
article .contains-task-list:focus-within .task-list-item-convert-container {
  display: block;
  width: auto;
  height: 24px;
  overflow: visible;
  clip: auto;
}

article ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}