@use "variables" as *;

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
  font-display: swap;
}

:root {
  --dark-red: #bb3e45;
  --red: #d14c3d;
  --orange: #c35f2c;
  --yellow: #dd9c3c;
  --bright-yellow: #e6c147;
  --black: #140a05;
  --white: #fefefb;
}

html {
  font-family: $font-sans;

  background-color: $black;
  color: $white;
}

a {
  background-color: transparent;
  color: $white;
  text-decoration: none;
  border-bottom: 3px solid $bright-yellow;
}

main,
footer {
  margin: auto;
  padding: 1.5rem;
  max-width: 70vw;
}

@media (max-width: 700px) {
  main {
    margin: 0;
    max-width: 100vw;
  }
}