---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout noFooter>
    <h1>Thank you!</h1>
    <p>Note: I'm maintaining the mailing list manually right now, so subscribing and unsubscribing won't be instantaneous!</p>
    <p>
        <a href="javascript:history.back()">Go Back</a>
    </p>
</BaseLayout>
