<header style="height: 15.5rem;">
    <div class="stripes">
        <div style="--color: var(--black);"></div>
        <div style="--color: var(--dark-red);"></div>
        <div class="spacer"></div>
        <div style="--color: var(--red);"></div>
        <div class="spacer"></div>
        <div style="--color: var(--orange);"></div>
        <div class="spacer"></div>
        <div style="--color: var(--yellow);"></div>
        <div class="spacer"></div>
        <div style="--color: var(--bright-yellow);"></div>
    </div>
</header>
<style lang="scss">
    .stripes {        
        margin: -1em;
        transform: translateY(-60%);
        position: absolute;
        width: 100vw;

        div {
            position: relative;
            height: 2.5rem;
            background: var(--color);

            &::after {
                content: "";
                display: block;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: calc(12 * 0.8rem);
                background: var(--color);
                $mask: url("/mask.svg") 0% 100%/100% 100%;
                mask: $mask;
                -webkit-mask: $mask;
            }
        }

        .spacer {
            --color: var(--black);
            height: 0.8rem;
        }

        div:nth-of-type(1) {
            z-index: 10;
        }
        div:nth-of-type(2) {
            z-index: 9;
        }
        div:nth-of-type(3) {
            z-index: 8;
        }
        div:nth-of-type(4) {
            z-index: 7;
        }
        div:nth-of-type(5) {
            z-index: 6;
        }
        div:nth-of-type(6) {
            z-index: 5;
        }
        div:nth-of-type(7) {
            z-index: 4;
        }
        div:nth-of-type(8) {
            z-index: 3;
        }
        div:nth-of-type(9) {
            z-index: 2;
        }
        div:nth-of-type(10) {
            z-index: 1;
        }
    }

    @media (max-width: 700px) {
        .stripes {
            transform: translateY(-35%);
        }
        .stripes div::after {
            height: calc(6 * 0.8rem);
        }
    }
</style>
