<header>
    <div class="stripes">
        <div style="--color: var(--black);"></div>
        <div style="--color: var(--dark-red);"></div>
        <div class="spacer"></div>
        <div style="--color: var(--red);"></div>
        <div class="spacer"></div>
        <div style="--color: var(--orange);"></div>
        <div class="spacer"></div>
        <div style="--color: var(--yellow);"></div>
        <div class="spacer"></div>
        <div style="--color: var(--bright-yellow);"></div>
    </div>
</header>
<style>
    header {
        height: calc(5 * 3.1rem);
    }
    .stripes {
        --grid-height: .5rem;
        --spacing: .8rem;
        margin: calc(-1 * 1em);
        transform: translateY(-60%);
        position: absolute;
        width: 100vw;
    }
    .stripes div {
        position: relative;
        height: calc(5 * var(--grid-height));
        background: var(--color);
    }
    .stripes div::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: calc(12 * .8rem);
        background: var(--color);
        mask: var(--mask);
        -webkit-mask: var(--mask);
        top: 100%;
        --mask: url("/Rectangle 2-2.svg") 0% 100%/100% 100%;
    }
    .stripes .spacer {
        --color: var(--black);
        height: .8rem;
    }
    .stripes div:nth-of-type(1) {
        z-index: 10;
    }
    .stripes div:nth-of-type(2) {
        z-index: 9;
    }
    .stripes div:nth-of-type(3) {
        z-index: 8;
    }
    .stripes div:nth-of-type(4) {
        z-index: 7;
    }
    .stripes div:nth-of-type(5) {
        z-index: 6;
    }
    .stripes div:nth-of-type(6) {
        z-index: 5;
    }
    .stripes div:nth-of-type(7) {
        z-index: 4;
    }
    .stripes div:nth-of-type(8) {
        z-index: 3;
    }
    .stripes div:nth-of-type(9) {
        z-index: 2;
    }
    .stripes div:nth-of-type(10) {
        z-index: 1;
    }

    @media (max-width: 700px) {
        .stripes {
            transform: translateY(-35%);
        }
        .stripes div::after {
            height: calc(6 * .8rem);
        }
    }
</style>