@font-face {
  font-family: "Space Grotesk";
  src: url("/SpaceGrotesk-VariableFont_wght.woff2") format("woff2");
}

body {
  padding: 1em;
  font-family: "Space Grotesk", sans-serif;
}

p {
  font-size: 1.5em;
}

h1 {
  font-size: 6em;
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  margin-block: 0.67em;

  svg {
    fill: black;
  }
  .jonas {
    width: 7ch;
  }
  .kruckenberg {
    width: 12.6ch;
  }
}