@font-face {
  font-family: "Space Grotesk";
  src: local('Space Grotesk'), local('Space Grotesk'), url("/SpaceGrotesk-VariableFont_wght.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  padding: 1em;
  font-family: "Space Grotesk", sans-serif;
}

p {
  font-size: 1.5em;
}

h1 {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  margin-block: 0.67em;

  svg {
    fill: black;
  }

  .jonas {
    width: 50vw;
  }

  .kruckenberg {
    width: 90vw;
  }

  @media (min-width: 800px) {
    font-size: 6vw;
    .jonas {
      width: 7ch;
    }

    .kruckenberg {
      width: 12.6ch;
    }
  }
}

// Hide elements visually but keep them in the accessibility tree
.visually-hidden {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(
    1px 1px 1px 1px
  ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(
    1px,
    1px,
    1px,
    1px
  ); /*maybe deprecated but we need to support legacy browsers */
  clip-path: inset(
    50%
  ); /*modern browsers, clip-path works inwards from each corner*/
  white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
}
