@import "./variables.scss";

.h0,
h1,
.h1,
h2,
.h2,
.f1,
h3,
.h3,
.f2,
h4,
.h4,
.f3,
h5,
.h5,
.f4,
h6,
.h6,
.f5 {
  .condensed {
  }
  .condensed-ultra {
  }
}

.h0,
h1,
.h1,
h2,
.h2,
.f1,
h3,
.h3,
.f2,
h4,
.h4,
.f3 {
  .bold {
    font-weight: $font-weight-bold;
  }
  .light {
    font-weight: $font-weight-light;
  }
}
.h0 {
  font-size: $font-size-xxl;
}

h1,
.h1 {
  font-size: $font-size-xl;
}

h2,
.h2,
.f1 {
  font-size: $font-size-larger;
}

h3,
.h3,
.f2 {
  font-size: $font-size-large;
}

h4,
.h4,
.f3 {
  font-size: $font-size-medium;
}

h5,
.h5,
.f4 {
  font-size: $font-size-small;

  .bold {
    font-weight: $font-weight-bold;
  }
}

h6,
.h6,
.f5 {
  font-size: $font-size-xs;

  .bold {
    font-weight: $font-weight-bold;
  }
}

.f6 {
  font-size: $font-size-xxs;

  .bold {
    font-weight: $font-weight-bold;
  }
}
