$red: #e63946;
$lightblue: #a8dadc;
$yellow: #ffc914;
$black: #333333;
$white: #fff;

$breakpoint-s: 540px;
$breakpoint-m: 768px;
$breakpoint-l: 1012px;
$breakpoint-xl: 1300px;

$font-weight-bold: 600;
$font-weight-light: 300;

$lh-default: 1.5;
$lh-condensed: 1.25;

$font-size-xxl: 3em;
$font-size-xxl-modile: 2.5em;
$font-size-xl: 2.5em;
$font-size-xl-mobile: 2em;
$font-size-larger: 2em;
$font-size-larger-mobile: 1.675em;
$font-size-large: 1.8em;
$font-size-large-mobile: 1.375em;
$font-size-medium: 1.25em;
$font-size-medium-mobile: 1.125em;
$font-size-small: 1em;
$font-size-xs: 0.875em;
$font-size-xxs: 0.75em;
